@section BeforeMediaLinks{
    <link rel="stylesheet" href="~/assets/css/productDetail.css" />
    <!-- Splide Css CDN -->
    <link rel="stylesheet" href="~/assets/libs/splide/dist/css/splide.min.css" />
    <link rel="stylesheet" href="~/assets/libs/splide/dist/css/themes/splide-skyblue.min.css" />
}
@section AfterMediaLinks{
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css" rel="stylesheet">
}
@model IDataResult<ProductGetDto>
@{
    ViewData["Title"] = Model.Data.Name;
}
<div class="container mt-5">
    <!-- section1 -->
    <div class="row">
        <!-- Carousel -->
        <div class="col-md-6">
            <section id="main-slider" class="splide" aria-label="Product Gallery">
                <div class="splide__track">
                    <ul class="splide__list">
                        @foreach (ProductImage image in Model.Data.ProductImages)
                        {
                            <li class="splide__slide">
                                <img src="~/uploads/product/@(image.ImagePath)" alt="Product Image" />
                            </li>
                        }
                    </ul>
                </div>
            </section>
            <ul id="thumbnails" class="thumbnails">
                @foreach (ProductImage image in Model.Data.ProductImages)
                {
                    <li class="thumbnail">
                        <img src="~/uploads/product/@(image.ImagePath)" alt="Product Image" />
                    </li>
                }
            </ul>

        </div>
        <!-- Product Info -->
        <div class="col-md-6">
            <div class="product-title">
                <p class="fs-4 fw-bold">@Model.Data.Name 👌🤌</p>
                <!-- Stars -->
                <div class="stars my-2 d-flex gap-2 align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill"
                         viewBox="0 0 16 16">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                    </svg>
                    <h4 class="mb-0">@Model.Data.TotalRating.ToString("0.0")</h4>
                </div>
                <p><span class="fw-bold">Color :</span> @Model.Data.Color.Name</p>
                <!-- images -->
                <div class="images row my-3">
                    <div class="col-md-2">
                        <img src="https://cdn.shopify.com/s/files/1/2026/1775/products/pastelproduct-crop15_100x.png?v=1637839614"
                             alt="">
                    </div>

                    <div class="col-md-2">
                        <img src="https://cdn.shopify.com/s/files/1/2026/1775/products/pastelproduct-crop16_100x.png?v=1637839614"
                             alt="">
                    </div>

                    <div class="col-md-2">
                        <img src="https://cdn.shopify.com/s/files/1/2026/1775/products/pastelproduct-crop16_100x.png?v=1637839614"
                             alt="">
                    </div>

                    <div class="col-md-2">
                        <img src="https://cdn.shopify.com/s/files/1/2026/1775/products/pastelproduct-crop16_100x.png?v=1637839614"
                             alt="">
                    </div>

                    <div class="col-md-2">
                        <img src="https://cdn.shopify.com/s/files/1/2026/1775/products/pastelproduct-crop16_100x.png?v=1637839614"
                             alt="">
                    </div>
                </div>
                <!-- submit -->
                <div class="submit my-4">
                    <button class="w-100 py-3 rounded-pill fw-bold text-white add-to-cart" data-id="@Model.Data.Id"> ADD TO CART @Model.Data.Price ₼</button>
                    @{
                        if (Model.Data.Favourites.Count != 0)
                        {
                            foreach (FavouriteGetDto fav in Model.Data.Favourites)
                            {
                                if (fav.User.Id != User.FindFirstValue(ClaimTypes.NameIdentifier))
                                {
                                    <div class="px-3 rounded-circle fw-bold">
                                        <i class="fa-regular fa-heart add-to-fav" onclick="AddToFav(this)" data-id="@Model.Data.Id"></i>
                                        <i class="fa-solid fa-heart remove-from-fav" onclick="RemoveFromFav(this)"></i>
                                    </div>
                                }
                                else
                                {
                                    <div class="px-3 rounded-circle fw-bold">
                                        <i class="fa-regular fa-heart add-to-fav" onclick="AddToFav(this)"></i>
                                        <i class="fa-solid fa-heart remove-from-fav" onclick="RemoveFromFav(this)" data-id="@fav.Id" data-product-id="@Model.Data.Id"></i>
                                    </div>
                                }
                            }
                        }
                        else
                        {
                            <div class="px-3 rounded-circle fw-bold">
                                <i class="fa-regular fa-heart add-to-fav" onclick="AddToFav(this)" data-id="@Model.Data.Id"></i>
                                <i class="fa-solid fa-heart remove-from-fav" onclick="RemoveFromFav(this)"></i>
                            </div>
                        }
                    }
                </div>
                <div class="product-info">
                    <!-- tabs -->
                    <ul class="border-bottom d-flex gap-4 list-unstyled tabs">
                        <li class="pb-3 fs-6 fw-bolder active">DESCRIPTION</li>
                        <li class="pb-3 fs-6 fw-bolder">FREE SHIPPING</li>
                    </ul>
                    <!-- DESCRIPTION -->

                    <div class="product-info-text p-4">
                        <div class="tab-content">
                            <div class="wrapper active">
                                @Model.Data.Description
                                @*<p>
                                Designed by our team in Tokyo, the brand new <span class="fw-bolder">
                                Tsuki 'Pastel Edition' Soft
                                Cover Bullet Journals
                                </span> are the perfect release to see you through all seasons of the year
                                ☾
                                </p>
                                <p class="my-3">
                                A popular addition to our Tsuki dot grid notebooks series, each bujo has a beautiful
                                vegan leather soft cover, is filled with our signature ultra-thick 160 GSM paper + has an adorable
                                gold foil moon design. Perfect for planning, doodling, painting + more! Available in 5 cute pastel
                                colours and a new + exclusive limited edition run midnight black cover.
                                </p>
                                <p class="my-4">
                                Choose your favourite colour, or mix + match to pair with other items across our
                                <span class="text-purple">Tsuki Collection!</span>
                                </p>
                                <ul class="">
                                <li>160 GSM ultra-thick bright white paper - no bleeding or ghosting</li>
                                <li>5mm distance light grey dot grid - perfect for bujo photography</li>
                                <li>Hand crafted vegan soft cover - high quality, flexible, durable and sustainable</li>
                                <li>2 bookmark ribbons - easily swap between your 'go to' pages</li>
                                <li>Original tsuki size (135mm x 195mm), 128 luxury pages</li>
                                </ul>*@
                            </div>

                        </div>

                        <!-- FREE SHIPPING -->
                        <div class="tab-content">
                            <div class="wrapper">
                                <div class="table overflow-hidden">
                                    <div class="row p-3 table-bottom align-items-center">
                                        <div class="col-md-5 fw-bold ">Region</div>
                                        <div class="col-md-3 fw-bold  text-center">Free Tracked Shipping</div>
                                        <div class="col-md-4  fw-bold text-center">Estimated Delivery Time</div>
                                    </div>

                                    <div class="row p-3 table-bottom align-items-center">
                                        <div class="col-md-5 fw-bold ">UNITED STATES</div>
                                        <div class="col-md-3 fw-bold  text-center">✓</div>
                                        <div class="col-md-4  text-center">7 - 20 days</div>
                                    </div>


                                    <div class="row p-3 table-bottom align-items-center">
                                        <div class="col-md-5 fw-bold ">EUROPE</div>
                                        <div class="col-md-3 fw-bold  text-center">✓</div>
                                        <div class="col-md-4  text-center">7 - 20 days</div>
                                    </div>


                                    <div class="row p-3 table-bottom align-items-center">
                                        <div class="col-md-5 fw-bold ">OCEANIA SOUTH-EAST ASIA</div>
                                        <div class="col-md-3 fw-bold  text-center">✓</div>
                                        <div class="col-md-4  text-center">9 - 21 days</div>
                                    </div>

                                    <div class="row p-3 table-bottom align-items-center">
                                        <div class="col-md-5 fw-bold ">ALL OTHER COUNTRIES</div>
                                        <div class="col-md-3 fw-bold  text-center">✓</div>
                                        <div class="col-md-4  text-center">14 - 35 days</div>
                                    </div>
                                </div>
                                <p class="text-center ">
                                    Processing time 1 - 5 days.
                                    Any items not received within 8 weeks qualify for our <span class="fw-bold">
                                        full refund or reship
                                        guarantee
                                    </span> 🌟
                                </p>
                                <p class="my-3 ">All orders over $40 qualify for free tracked shipping automatically ✅</p>
                                <p class="text-center">
                                    Please contact <span class="purple fw-bold">info@notebooktherapy.com </span>
                                    with
                                    any further questions and our support team will be happy to help.
                                </p>
                                <div class="border p-3 mt-3">
                                    <h3 class="fw-bold fs-6">Restricted shipping to:</h3>
                                    <p>
                                        Brunei, French Guiana, Guadeloupe, Guam, Mauritius, Peru, Reunion, Saudi Arabia, Serbia, Sri
                                        Lanka,
                                        Uruguay.
                                    </p>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- section 2 -->
    <div class="row my-2">
        <div class="col-md-6">
            <div class="stars my-2 d-flex gap-2 align-items-center">
                @*<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill"
                viewBox="0 0 16 16">
                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill"
                viewBox="0 0 16 16">
                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill"
                viewBox="0 0 16 16">
                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill"
                viewBox="0 0 16 16">
                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill"
                viewBox="0 0 16 16">
                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                </svg>*@
                <h4>@Model.Data.Reviews.Count Reviews</h4>
            </div>
        </div>
        <div class="col-md-6 d-flex justify-content-end">
            <button class="review">
                Write a review
            </button>
        </div>
        <partial name="_writeReviewPartial" model="new ReviewPostDto{ProductId=Model.Data.Id}" />
    </div>
    <div class="row mt-3">
        @foreach (ReviewGetDto review in Model.Data.Reviews)
        {
            <div class="col-12 border p-3 komments d-flex gap-5 mb-3">
                <div class="title">
                    <p class="fw-bold">@review.User.UserName</p>
                    <p>@review.Comment</p>
                </div>
                <div class="stars d-flex gap-2 align-items-center ms-auto">
                    @for (int i = 1; i <= (int)review.Rating; i++)
                    {
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                        </svg>
                    }
                </div>
            </div>
        }
    </div>

    <!-- section 3 -->
    <section class="mt-5">
        <h4 class="text-center fw-bold">You might like</h4>
        <!-- carousel -->
        <div id="caruselContainer" class="caruselContainer">
        </div>
    </section>
</div>

@section Scripts{
    <script type="text/javascript" src="~/assets/libs/splide/dist/js/splide.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"></script>
    <script src="~/assets/js/cartfunctions.js"></script>
    <script src="~/assets/js/favfunctions.js"></script>
    <script>
        $(document).ready(function () {
            $.ajax({
                url: "@Url.Action("GetRelated", "Product")",
                success: function (result) {
                    $("#caruselContainer").html(result);
                }
            });
        });
    </script>
    <script src="~/assets/js/productDetail.js"></script>

}