@model IDataResult<List<SizeGetDto>>
<table id="responsive-data-table" class="table">
	<thead>
		<tr>
			<th>#</th>
			<th>Name</th>
			<th>Status</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		@foreach (SizeGetDto size in Model.Data)
		{
			<tr>
				<td>@size.Id</td>
				<td>@size.Name</td>
				<td>
					@{
						if (size.isDeleted)
						{
							@:<span class="badge badge-danger">Inactive</span>
						}
						else
						{
							@:<span class="badge badge-success">Active</span>
						}
					}
				</td>
				<td>
					<div class="btn-group">
						<button asp-action="Get" asp-controller="Size" asp-route-id="@size.Id" type="button" class="btn btn-outline-success">Info</button>
						@{
							<button type="button" class="btn btn-outline-success dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
								<span class="sr-only">Info</span>
							</button>
							if (!size.isDeleted)
							{
								<div class="dropdown-menu">
									<a asp-action="Update" asp-controller="Size" asp-route-id="@size.Id" class="dropdown-item">Edit</a>
									<a asp-action="Delete" asp-controller="Size" asp-route-id="@size.Id" class="dropdown-item">Delete</a>
								</div>
							}
							else
							{
								<div class="dropdown-menu">
									<a asp-action="Recover" asp-controller="Size" asp-route-id="@size.Id" class="dropdown-item">Recover</a>
									<a asp-action="HardDelete" asp-controller="Size" asp-route-id="@size.Id" class="dropdown-item">Permamently Delete</a>
								</div>
							}
						}
					</div>
				</td>
			</tr>
		}
	</tbody>
</table>
