@{
	ViewData["Title"] = "Blog";
}
@model IDataResult<List<BlogGetDto>>
<div class="breadcrumb-wrapper breadcrumb-wrapper-2 breadcrumb-contacts">
	<h1>Blogs</h1>
	<p class="breadcrumbs">
		<a class="btn btn-primary" asp-action="Create" asp-controller="Blog">New Blog</a>
	</p>
</div>
<div class="row">
	<div class="col-xl-12 col-lg-12">
		<div class="ec-cat-list card card-default">
			<div class="card-body">
				<div class="table-responsive">
					<table id="responsive-data-table" class="table">
						<thead>
							<tr>
								<th>#</th>
								<th>Title</th>
								<th>Content</th>
								<th>View Count</th>
								<th>Status</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var blog in Model.Data)
							{
								<tr>
									<td>@blog.Id</td>
									<td>@blog.Title</td>
									<td>@blog.Content</td>
									<td>@blog.ViewCount</td>
									<td>
										@{
											if (blog.isDeleted)
											{
												@:<span class="badge badge-danger">Inactive</span>
											}
											else
											{
												@:<span class="badge badge-success">Active</span>
											}
										}
									</td>
									<td>
										<div class="btn-group">
											<button asp-action="Get" asp-controller="Blog" asp-route-id="@blog.Id" type="button" class="btn btn-outline-success">Info</button>
											@{
												<button type="button" class="btn btn-outline-success dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
													<span class="sr-only">Info</span>
												</button>
												if (!blog.isDeleted)
												{
													<div class="dropdown-menu">
														<a asp-action="Update" asp-controller="Blog" asp-route-id="@blog.Id" class="dropdown-item">Edit</a>
														<a asp-action="Delete" asp-controller="Blog" asp-route-id="@blog.Id" class="dropdown-item">Delete</a>
													</div>
												}
												else
												{
													<div class="dropdown-menu">
														<a asp-action="Recover" asp-controller="Blog" asp-route-id="@blog.Id" class="dropdown-item">Recover</a>
													</div>
												}
											}
										</div>
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

