@model List<BlogGetDto>
<table id="responsive-data-table" class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Thumbnail</th>
            <th>Title</th>
            <th>Short Des</th>
            <th>View Count</th>
            <th>Status</th>
            <th>Action</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (BlogGetDto blog in Model)
        {
            <tr>
                <td>@blog.Id</td>
                <td>
                    <img class="tbl-thumb" src="~/uploads/blog/@(blog.ImagePath)" alt="Blog Image" />
                </td>
                <td>@blog.Title</td>
                <td>@blog.ShortDescription</td>
                <td>@blog.ViewCount</td>
                <td>
                    @{
                        if (blog.isDeleted)
                        {
                            @:<span class="badge badge-danger">Inactive</span>
                        }
                        else
                        {
                            @:<span class="badge badge-success">Active</span>
                        }
                    }
                </td>
                <td>
                    <div class="btn-group">
                        <a asp-action="Get" asp-controller="Blog" asp-route-id="@blog.Id" type="button" class="btn btn-outline-success">Info</a>
                        @{
                            <button type="button" class="btn btn-outline-success dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                                <span class="sr-only">Info</span>

                            </button>

                            if (!blog.isDeleted)
                            {
                                <div class="dropdown-menu">
                                    <a asp-action="Update" asp-controller="Blog" asp-route-id="@blog.Id" class="dropdown-item">Edit</a>
                                    <a asp-action="Delete" asp-controller="Blog" asp-route-id="@blog.Id" class="dropdown-item">Delete</a>
                                </div>
                            }
                            else
                            {
                                <div class="dropdown-menu">
                                    <a asp-action="Recover" asp-controller="Blog" asp-route-id="@blog.Id" class="dropdown-item">Recover</a>
                                    <a asp-action="HardDelete" asp-controller="Blog" asp-route-id="@blog.Id" class="dropdown-item">Permamently Delete</a>
                                </div>
                            }
                        }
                    </div>
                </td>
                <td>
                    <a href="javascript:0" data-bs-toggle="modal" data-bs-target="#modal-contact" class="view-detail" id="infoBtn" data-id="@blog.Id">
                        <i class="mdi mdi-eye-plus-outline"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>


