@model List<BlogGetDto>
<table id="responsive-data-table" class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Thumbnail</th>
            <th>Title</th>
            <th>Short Des</th>
            <th>View Count</th>
            <th>Status</th>
            <th>Action</th>
            <th>View</th>
        </tr>
    </thead>
    <tbody>
        @foreach (BlogGetDto blog in Model)
        {
            <tr>
                <td>@blog.Id</td>
                <td>
                    <img class="tbl-thumb" src="~/uploads/blog/@(blog.ImagePath)" alt="Blog Image" />
                </td>
                <td>@blog.Title</td>
                <td>@blog.ShortDescription</td>
                <td>@blog.ViewCount</td>
                <td>
                    @{
                        if (blog.isDeleted)
                        {
                            @:<span class="badge badge-danger">Inactive</span>
                        }
                        else
                        {
                            @:<span class="badge badge-success">Active</span>
                        }
                    }
                </td>
                <td>
                    <div class="btn-group">
                        @{
                            if (!blog.isDeleted)
                            {
                                <a asp-action="Update" asp-controller="Blog" asp-route-id="@blog.Id" class="btn btn-outline-warning">Edit</a>
                                <a asp-action="Delete" asp-controller="Blog" asp-route-id="@blog.Id" class="btn btn-outline-danger">Delete</a>
                            }
                            else
                            {
                                <a asp-action="Recover" asp-controller="Blog" asp-route-id="@blog.Id" class="btn btn-outline-info">Recover</a>
                                <a asp-action="HardDelete" asp-controller="Blog" asp-route-id="@blog.Id" class="btn btn-outline-danger">Permamently Delete</a>
                            }
                        }
                    </div>
                </td>
                <td>
                    <a href="javascript:0" data-bs-toggle="modal" data-bs-target="#modal-contact" class="view-detail" id="infoBtn" data-id="@blog.Id">
                        <i class="mdi mdi-eye-plus-outline"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>


