@inject ICategoryService _categoryService;
@inject IProductCollectionService _productCollectionService;
<header>
    <nav id="nav">
        <div class="header_top" id="navbar">
            <div class="logo">
                <a asp-action="Index" asp-controller="Home">
                    <img src="~/assets/images/logo.png" alt="">
                </a>
            </div>
            <div class="icons">
                <a asp-action="ShoppingCart" asp-controller="Account" class="me-2">
                    <i class="fa-regular fa-basket-shopping-simple fa-fade">
                    </i>
                    <span>Shopping Cart</span>
                </a>
                <a asp-controller="Account" asp-action="Favourite">
                    <i class="fa-regular fa-heart"></i>
                </a>
                <a asp-action="@(User.Identity.IsAuthenticated ? "Profile" : "Login")" asp-controller="Account" class="ms-2">
                    <i class="fa-regular fa-user"></i>
                </a>
            </div>
        </div>
        <div class="navbar_responsive">
            <div class="toggle_menu" id="toggle-menu">
                <i class="fa-regular fa-grid-2"></i>
            </div>
            <div class="logo">
                <a asp-action="Index" asp-controller="Home">
                    <img src="~/assets/images/logo.png" alt="">
                </a>
            </div>
            <div class="icons ">
                <a asp-action="ShoppingCart" asp-controller="Account">
                    <i class="fa-regular fa-basket-shopping-simple fa-fade">
                    </i>
                </a>
                <a asp-controller="Account" asp-action="Favourite">
                    <i class="fa-regular fa-heart"></i>
                </a>
                <a asp-action="@(User.Identity.IsAuthenticated ? "Profile" : "Login")" asp-controller="Account" class="ms-2">
                    <i class="fa-regular fa-user"></i>
                </a>
            </div>
        </div>
        <ul class="nav_list" id="nav-menu">
            <div class="close_menu" id="close-menu">
                <i class="fa-regular fa-xmark"></i>
            </div>
            <li class="nav_item drop_down">
                <div href="#" class="nav_link dropdown_link cursor-pointer d-inline">
                    All Categories
                    <i class="fa-solid fa-chevron-down dropdown_icon"></i>
                </div>
                <div class="megamenu">
                    <ul class="content flex-xl-row">
                        @if ((await _categoryService.GetAllAsync(false)).Success)
                        {
                            List<CategoryGetDto> categories = (await _categoryService.GetAllAsync(false)).Data;
                            @foreach (CategoryGetDto category in categories)
                            {
                                <li class="megamenu_item px-xl-3">
                                    <div class="megamenu_link">
                                        <a asp-controller="Product" asp-action="Index" asp-route-categoryId="@category.Id">@category.Name</a>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </li>
            <li class="nav_item">
                <a asp-controller="Product" asp-action="Index" class="nav_link">All Products</a>
            </li>
            <li class="nav_item">
                <a asp-controller="Product" asp-action="Index" asp-route-isTrending="true" class="nav_link">Trending</a>
            </li>
            <li class="nav_item">
                <a asp-controller="Home" asp-action="About" class="nav_link">About Us</a>
            </li>
            <li class="nav_item drop_down">
                <div href="#" class="nav_link dropdown_link cursor-pointer d-inline">
                    Seasonal Launches
                    <i class="fa-solid fa-chevron-down dropdown_icon"></i>
                </div>
                <div class="megamenu">
                    @{
                        List<ProductCollectionGetDto> collections = (await _productCollectionService.GetAllAsync(false)).Data;
                        int additional_content = collections.Count % 3;
                        int first_collection_content = collections.Count / 3;
                        int second_collection_content = collections.Count / 3;
                        if (additional_content > 0)
                        {
                            first_collection_content++;
                            if (additional_content == 2)
                            {
                                second_collection_content++;
                            }
                        }
                    }
                    <ul class="content">
                        @foreach (ProductCollectionGetDto collection in collections.Take(first_collection_content))
                        {
                            <li class="megamenu_item">
                                <div class="menu_icon">
                                    <span>@collection.CollectionIcon</span>
                                </div>
                                <div class="megamenu_link">
                                    <a asp-action="Detail" asp-controller="Collection" asp-route-id="@collection.Id">@collection.Name</a>
                                    <p>@collection.Description</p>
                                </div>
                            </li>
                        }
                    </ul>
                    <ul class="content">
                        @foreach (ProductCollectionGetDto collection in collections.Skip(first_collection_content).Take(second_collection_content))
                        {
                            <li class="megamenu_item">
                                <div class="menu_icon">
                                    <span>@collection.CollectionIcon</span>
                                </div>
                                <div class="megamenu_link">
                                    <a asp-action="Detail" asp-controller="Collection" asp-route-id="@collection.Id">@collection.Name</a>
                                    <p>@collection.Description</p>
                                </div>
                            </li>
                        }
                    </ul>
                    <ul class="content">
                        @foreach (ProductCollectionGetDto collection in collections.Skip(first_collection_content + second_collection_content).Take(collections.Count / 3))
                        {
                            <li class="megamenu_item">
                                <div class="menu_icon">
                                    <span>@collection.CollectionIcon</span>
                                </div>
                                <div class="megamenu_link">
                                    <a asp-action="Detail" asp-controller="Collection" asp-route-id="@collection.Id">@collection.Name</a>
                                    <p>@collection.Description</p>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </li>
            <li class="nav_item">
                <a asp-controller="Blog" asp-action="Index" class="nav_link">Blogs</a>
            </li>
            <li class="nav_item">
                <a asp-controller="Home" asp-action="Contact" class="nav_link">Contact Us</a>
            </li>
        </ul>
        <div class="icons icons_scroll">
            <a asp-action="ShoppingCart" asp-controller="Account">
                <i class="fa-regular fa-basket-shopping-simple fa-fade">
                </i>
            </a>
            <a asp-controller="Account" asp-action="Favourite">
                <i class="fa-regular fa-heart"></i>
            </a>
            <a asp-action="@(User.Identity.IsAuthenticated ? "Profile" : "Login")" asp-controller="Account" class="ms-2">
                <i class="fa-regular fa-user"></i>
            </a>
        </div>
    </nav>
</header>